.container {

}

#nav-bar {
    position:fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgb(226, 67, 218),rgb(190, 35, 196), rgb(69, 16, 119),  rgb(32, 0, 51));
    width: 280px;
    height: 100%;
    box-shadow: 1px 1px 3px #818181;
}

#author-info {
    background-color: #fff;
    color: #606060;
    width: 100%;
    margin: 0;
}

#about-me {
    font-family: 'Reem Kufi', sans-serif;
    margin: 5px auto;
}

.author-img {
    border-radius: 50%;
    border: 2px solid #606060;
    shape-outside: circle(50% 10px 10px);
    width: 200px;
    margin: 5px auto;
}

.description {
    text-align: center;
    padding: 5px;
}
/*=================[MENU]=================*/

ol{
    padding: 0;
}

#menu {
    font-family: 'Oleo Script', cursive;
    color: #fff;
}

#menu .pointer:hover {
    background-color: #f1f1f1;
    color: #000;
    box-shadow: 1px 1px 5px #fff;
    transition: all 0.4s linear;
}
#menu .pointer:hover:before {
    border-left: 25px solid #f1f1f1;
    box-shadow: 1px 1px 5px #fff;
    transition: all 0.4s linear;
}

#menu li {
    margin: 5px 0px;
    box-sizing: border-box;
    display: flex;
}

#menu li p {
    margin: auto;
    font-size: 18pt;
    position: relative;
}

.pointer {
    width: 280px;
    height: 40px;
    position: relative;
    background: #000;
}

.pointer:before {
    content: "";
    position: absolute;
    right: -25px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 25px solid #000;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}